li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li.select {
  background: #888;
  color: #fff;
}
button{
    cursor: pointer;
}

section{
    background-color: cadetblue;
}
input{
    
}
div{
    
}